{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<div id="content-main">

  <article class="{{post_class}}">

    {{! Everything inside the #post tags pulls data from the post }}
    {{#post}}

    {{! Everything below outputs content of the the post which has been published }}
    <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
    <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM D, YYYY"}}</time> {{#if tags}} | Tags: {{tags}}{{/if}}</span>

    <section class="post-content">
      {{content}}
    </section>

    <footer class="post-footer">

      <section class="share">
        <h4>Share this post</h4>
        <a href="http://b.hatena.ne.jp/entry/{{url absolute="true"}}" class="hatena-bookmark-button" data-hatena-bookmark-title="{{{title}}} - Ponkotsu Times" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" stt
yle="border: none;" /></a><script type="text/javascript" src="http://cdn-ak.b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        <div class="fb-like" data-href="{{url absolute="true"}}" data-send="false" data-layout="button_count" data-width="130" data-show-faces="false"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{url absolute="true"}}" data-text="{{{title}}} - Ponkotsu Times" data-lang="jp" data-count="horizontal">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </section>

    </footer>

    {{/post}}

  </article>

</div>
